<div class="container">

  <div *ngIf="!finalScore && !submitted && !interval">
    <h2>Press Start Button to Answer the Quiz</h2>
    <button type="button" class="btn btn-success" (click)="startInterval()">Start Quiz</button>
  </div>

  <div *ngIf="!finalScore && !submitted && interval">
    <h1 class="text-center">TRIVIA GAME</h1>
    <div class="col-md-12">
      <div class="col-md-12">
        <div class="col-md-12" *ngIf="quizdata">
          <div class="col-md-12">
            <h3 style="text-align: center;">{{quizdata.results[index].question}}</h3>
            <div class="col-md-offset-0 col-md-6" *ngFor="let ans of quizdata.results[index].answers">
              <label><input style="display: inline;" type="checkbox" class="checkbox" value="{{ans}}"
                  (change)="checkbox($event)">{{ans}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="next()"
      *ngIf="index < quizdata?.results.length-1">Next</button>
    <button type="submit" class="btn btn-primary" (click)="submit()"
      *ngIf="index == quizdata?.results.length -1">Submit</button>
  </div>

  <div *ngIf="finalScore">
    <h2>Your Score</h2>
    <label>{{finalScore}}</label>

    <div>
      <button type="button" class="btn btn-primary" (click)="restartQuiz()">Restart Quiz</button>
    </div>
  </div>

</div>